.wrapper{
    background-color: rgb(233, 225, 225);
    display: flex;
}

.container{
    margin: 2em;
}
.nav-bar{
    background-color: rgb(255, 238, 0);
}
.nav-bar ul{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    list-style: none;
}
a{
    margin-left: 3em;
    color: black;
    text-decoration: none;
}

a:hover{
    cursor: pointer;
    color: red;
    text-decoration-style: dashed;
}